* {
    margin: 0;
    padding: 0;
    box-sizing: ;
}

html, body {
    height: 100%;
    width: 100%;
}

.product {
    height: 100%;
    width: 100%;
     background-color: violet;
}